body {
	font-family: "Penna";
	background-color: #141414;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.book {
	width: 656px;
	height: 450px;
	position: relative;
	transition-duration: 1s;
	perspective: 1500;
    margin-left: 100px;
}
input {
	display: none;
}
.cover, .back-cover {
	background-color: #8937B8;
	width: 100%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px rgb(41, 41, 41);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center left;
}
.cover {
	position: absolute;
	z-index: 17;
	transition: transform 1s;
}
.cover label {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.back-cover {
	position: relative;
	z-index: -1;
}
.page {
	position: absolute;
	background-color: #fff;
	width: 636px;
	height: 430px;
	border-radius: 0 0 0 0;
	margin-top: 10px;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition-duration: 1.5s;
}
.page img {
	width: 100%;
	height: 100%;
	border-radius: 0 0 0 0;
}
.front-page {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
.back-page {
	transform: rotateY(180deg);
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: 99;
}
.next, .prev {
	position: absolute;
	bottom: 1em;
	cursor: pointer;
}
.next {
	right: 1em;
}
.prev {
	left: 1em;
}
#page1 {
	z-index: 16;
}
#page2 {
	z-index: 15;
}
#page3 {
	z-index: 14;
}
#page4 {
	z-index: 13;
}
#page5 {
	z-index: 12;
}
#page6 {
	z-index: 11;
}
#page7 {
	z-index: 10;
}
#page8 {
	z-index: 9;
}
#page9 {
	z-index: 8;
}
#page10 {
	z-index: 7;
}
#page11 {
	z-index: 6;
}
#page12 {
	z-index: 5;
}
#page13 {
	z-index: 4;
}
#page14 {
	z-index: 3;
}
#page15 {
	z-index: 2;
}
#page16 {
	z-index: 1;
}

#checkbox-cover:checked ~ .book {
	transform: translateX(200px);
}
#checkbox-cover:checked ~ .book .cover {
	transition: transform 1.5s, z-index 0.5s 0.5s;
	transform: rotateY(-180deg);
	z-index: 1;
}
#checkbox-cover:checked ~ .book .page {
	box-shadow: 0 0 3px rgb(99, 98, 98);
}
#checkbox-page1:checked ~ .book #page1 {
	transform: rotateY(-180deg);
	z-index: 2;
}
#checkbox-page2:checked ~ .book #page2 {
	transform: rotateY(-180deg);
	z-index: 3;
}
#checkbox-page3:checked ~ .book #page3 {
	transform: rotateY(-180deg);
	z-index: 4;
}
#checkbox-page4:checked ~ .book #page4 {
	transform: rotateY(-180deg);
	z-index: 5;
}
#checkbox-page5:checked ~ .book #page5 {
	transform: rotateY(-180deg);
	z-index: 6;
}
#checkbox-page6:checked ~ .book #page6 {
	transform: rotateY(-180deg);
	z-index: 7;
}
#checkbox-page7:checked ~ .book #page7 {
	transform: rotateY(-180deg);
	z-index: 8;
}
#checkbox-page8:checked ~ .book #page8 {
	transform: rotateY(-180deg);
	z-index: 9;
}
#checkbox-page9:checked ~ .book #page9 {
	transform: rotateY(-180deg);
	z-index: 10;
}
#checkbox-page10:checked ~ .book #page10 {
	transform: rotateY(-180deg);
	z-index: 11;
}
#checkbox-page11:checked ~ .book #page11 {
	transform: rotateY(-180deg);
	z-index: 12;
}
#checkbox-page12:checked ~ .book #page12 {
	transform: rotateY(-180deg);
	z-index: 13;
}
#checkbox-page13:checked ~ .book #page13 {
	transform: rotateY(-180deg);
	z-index: 14;
}
#checkbox-page14:checked ~ .book #page14 {
	transform: rotateY(-180deg);
	z-index: 15;
}
#checkbox-page15:checked ~ .book #page15 {
	transform: rotateY(-180deg);
	z-index: 16;
}