*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Penna"; 
    overflow-x: hidden;
}


.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 80px;
    background: rgb(229, 227, 225);
    z-index:1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50 px;
    position: fixed;
}

#navbar-logo{
    color: #CD90E8;
    cursor:pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-inline-start: 10px;
}

.navbar__menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.navbar__item{
    height: 80px;
}


.navbar__links{
    color: #141414;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar__links:hover{
    color: #CD90E8;
    transition: all 0.3s ease;
}

/*Contact Button*/
.button { 
    background: #CD90E8;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    margin-inline: 50px;
    display:flex;
}

.navbar__btn.mobile{
    display: none;
}

.navbar__btn.desktop{
    display: flex;
    align-items:center;
}


.button:hover{
    background: #8937B8;
    transition: all 0.3s ease;
}

.navbar__toggle{
    display: none;
}

/* Smaller screen adaptation*/
@media screen and (max-width: 960px){

    .fa-bars{
        line-height: normal;
    }

    .navbar__toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 10;
        font-size: 1.5res;
        border: none;
        background: none;
        cursor: pointer;
        padding:0;
    }

    .navbar__menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease;
        background: #141414;
        z-index: 10;
        margin: 0;
    }

    .navbar__menu.active{
        left: 0;
        opacity: 1;
    }

    .navbar__item{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar__links{
        text-align:center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*Contact Button*/
    
    .navbar__btn.desktop{
        display: none;
    }

    .navbar__btn.mobile{
        display: flex;
        justify-content:center;
        padding-bottom: 2rem;
        width:100%;
    }

}

.hero{
    background: #141414;
}

.hero__container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
    margin-top: 100px;
    height : 90%;
    width: 100%;
    padding: 80px 50px;
    max-width: 1300px;
} 
.info-container{
    grid-column: 1/3;
}
.info-container h1{
    color: #CD90E8;
    font-size: 4rem;
}

.info-container h2{
    color: #CD90E8;
    font-size: 1.2rem;
}

.info-container p{
    color: #fff;
    font-size: 1.2rem;
    margin-top: 10px;
}

.portfolio-container{
    grid-column: 4/9;
    margin: 0 auto;
    height: 500px ;
    width: 100%;
    float: right;
    overflow: hidden;
}
.portfolio-small-img img{
    height:92px;
    margin:10px 0;
    cursor: pointer;
    display: block;
    opacity:0.6;
}
.portfolio-small-img img:hover{
    opacity: 1;
}
.portfolio-small-img {
    float: left;
}

.portfolio-pic{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: static; 
    overflow: hidden;
}
.img-container img{
    height: 500px;
}

.img-container{
    float: right;
    padding: 10px;
}

@media screen and (max-width: 960px){
    .hero__container{
        display: flex;
        flex-direction: column;
        height:auto;
        padding: 50px 10px;
    }

    .info-container{
        text-align: center;
        margin-bottom: 100px;
        padding: 0 20px;
    }

    .info-container h1{
        font-size: 2.5rem;
        margin-top:1rem;
    }

    .info-container p{
        font-size:1.5rem
    }
    
    .portfolio-pic{
        align-items: center;
        height: auto;
        margin-top: 400px;
        margin-bottom: 400px;
    }

    .img-container{
        display: none;
    }

    .portfolio-small-img img{
        width:90%;
        height: 90%;
        margin:10px 10px;
        cursor: pointer;
        display: block;
        opacity:1;
        float: none;
        align-items: center;
    }
    .portfolio-small-img{
        display: block;  
        float: none;
        
        align-items: center;
        padding-right: 0px;
        height: auto;
    }
}

@media screen and (max-width: 480px){
    .hero__container{
        width:100vw;
    }

    .info-container h1{
        font-size: 2.5rem;
        margin-top:1rem;
    }


}

/* Footer */
.footer__container{
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer__logo{
    color: #CD90E8;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link-wrapper{
    display: flex;
}

.footer__link-items{
    display:flex;
    flex-direction: column;
    margin: 16px;
    text-align: left;
    width: 160px;
}

.footer__link-items h3{
    margin-bottom: 1rem;
    color: #CD90E8;
}

.footer__link-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link-items a:hover {
    color: #CD90E8;
    transition: 0.3s ease-out;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0 auto;
}

.social__icon{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.social__icon-link{
    color: #CD90E8;
    font-size: 24px;
    display:inline-block;
}

@media screen and(max-width: 820px) {
    .footer__links{
        padding-top: 2rem;
    }
    .footer__link-wrapper{
        flex-direction: column;
    }
    .social__media-wrap{
        flex-direction: column;
    }
}

@media screen and(max-width: 480px) {
    .social__media{
        text-align: center;
    }

    .footer__link-items{
        width: 100%;
        padding: 10px;
    }
}